<app-onboarding-body>
  <ng-container class="main-heading">
    Terms &amp; conditions
  </ng-container>
  <ng-container class="body">
    <perfect-scrollbar #scrollbar style="max-height: 150px; max-width: 100%;">
      <div class="div">
        <div class="col">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula imperdiet ligula, eget laoreet justo tempor id.
            Quisque euismod ligula et tellus bibendum, ut commodo elit rutrum. Phasellus fringilla, turpis vitae mollis pretium,
            felis nulla interdum lacus, in mollis metus eros eu mi. In lacinia aliquam commodo. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Vestibulum ipsum nulla, molestie sit amet tellus non, volutpat semper ipsum. Vestibulum
            quis orci sapien. In in rutrum erat. Maecenas id fringilla nunc. Cras volutpat velit ut ipsum egestas tincidunt.
          </p>
          <p>
            Ut eu velit egestas, malesuada nulla sit amet, tempus quam. Pellentesque diam metus, laoreet quis libero at, elementum aliquet
            quam. Etiam faucibus eleifend condimentum. Aenean in eleifend mi. Phasellus tortor libero, interdum id orci vel,
            ullamcorper auctor massa. Etiam faucibus augue massa, nec sodales ligula gravida ac. Donec vel tellus suscipit,
            elementum lacus ac, ultricies nisl.
          </p>
          <p>
            Suspendisse tincidunt, velit at rutrum finibus, ipsum sapien gravida metus, sed posuere nunc leo ut tellus. Nulla eleifend
            lorem non consequat ornare. Mauris velit metus, tristique at elementum nec, efficitur vitae est. Vivamus vel
            ipsum justo. Nulla facilisi. Morbi vitae lectus quis nunc facilisis commodo quis feugiat risus. Phasellus lobortis
            laoreet pellentesque. Suspendisse iaculis nulla nec aliquet elementum. Aliquam cursus interdum ante. Nulla vel
            vehicula elit. Phasellus interdum cursus enim porttitor posuere. In tincidunt pellentesque imperdiet. Maecenas
            a aliquam sapien.
          </p>
          <p>
            In aliquet sapien vel tempor aliquet. Vivamus eleifend varius lacus, sit amet commodo sapien viverra ut. Aenean et urna leo.
            Integer metus mi, posuere quis dignissim nec, pellentesque sit amet ipsum. Integer sit amet luctus leo. Cras
            luctus arcu sit amet quam imperdiet rhoncus at vitae dui. Maecenas magna diam, iaculis id commodo quis, euismod
            et magna. Sed volutpat molestie mattis. Sed urna ipsum, luctus at magna vel, dignissim dapibus arcu.
          </p>
          <p>
            Nam eget bibendum lectus. Mauris dictum blandit neque, nec interdum leo pretium vel. Nunc molestie nisl arcu, et pharetra
            orci mollis ac. Etiam lacinia tellus id tristique maximus. Duis finibus felis urna, nec faucibus felis laoreet
            eget. Sed feugiat nunc sed urna venenatis faucibus. Suspendisse pellentesque ac elit ultrices elementum. Duis
            sed pretium ipsum, in scelerisque purus. Nam eleifend, augue in sagittis vehicula, felis mi placerat magna, vel
            tristique tellus mauris id risus. Nam fermentum congue libero ut vehicula. Mauris euismod ligula quis sem aliquet,
            id dapibus nunc tempor. Cras eget nulla quam. Aenean finibus metus id erat condimentum iaculis. Fusce posuere
            nec quam sodales pulvinar. Sed fermentum porttitor lacus, a mattis elit pharetra vel.
          </p>
        </div>
      </div>
    </perfect-scrollbar>

    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <label class="check-container">I agree to the terms and conditions
        <input type="checkbox" checked="checked">
        <span class="custom-checkmark"></span>
      </label>
      <button class="btn btn-block" [ngClass]="{
         'btn-disabled': f.invalid
      }" type="submit" [disabled]="f.invalid">Next</button>
    </form>
  </ng-container>
</app-onboarding-body>