<app-onboarding-body>
  <ng-container class="main-heading">Verification Code</ng-container>
  <ng-container class="sub-heading">
    Please check your email. We sent you a verification code.
  </ng-container>

  <ng-container class="body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <div class="form-group">
        <div class="row verify-input">
          <div class="col">

            <input type="text" minlength="1" required maxlength="1" name="num1" id="num1" #num1="ngModel" class="form-control" (keyup)="focusNext($event.keyCode, $event.target)"
              ngModel>
          </div>




          <div class="col">
            <input type="text" #num1="ngModel" required minlength="1" required maxlength="1" name="num2" id="num2" class="form-control"
              (keyup)="focusNext($event.keyCode, $event.target)" ngModel>
          </div>
          <div class="col">
            <input type="text" #num1="ngModel" required minlength="1" required maxlength="1" name="num3" id="num3" class="form-control"
              (keyup)="focusNext($event.keyCode, $event.target)" ngModel>
          </div>
          <div class="col">
            <input type="text" #num1="ngModel" required minlength="1" required maxlength="1" name="num4" id="num4" class="form-control"
              (keyup)="focusNext($event.keyCode, $event.target)" ngModel>
          </div>
          <div class="col">
            <input type="text" #num1="ngModel" required minlength="1" required maxlength="1" name="num5" id="num5" class="form-control"
              ngModel>
          </div>
        </div>



        <div class="row c" *ngIf="f.submitted && num1.invalid ">
          <div class="col">
            <small *ngIf="num1.errors.required">
              Please fill the boxes
            </small>
          </div>
        </div>
      </div>


      <button class="btn btn-block verify-btn" type="submit">Next</button>
    </form>
  </ng-container>

  <ng-container class="footer">
    <!-- <p>Do not close this window.</p> -->
    <a href="#">
      Resend verification code
    </a>
    <br>
    <a href="#">
      Code not working
    </a>
  </ng-container>
</app-onboarding-body>