<div class="row">
  <div class="col-10 offset-1">
    <h1 class="text-center">
      <ng-content select=".main-heading"></ng-content>
    </h1>
    <h3 class="text-center">
      <ng-content select=".sub-heading"></ng-content>
    </h3>
  </div>
</div>

<div class="row">
  <!-- <div class="col"></div> -->
  <div class="offset-2 col-8 offset-md-3 col-md-6">
    <ng-content select=".body"></ng-content>
  </div>
  <!-- <div class="col "></div> -->
</div>

<div class="row">
  <div class="col text-center">
    <ng-content select=".footer"></ng-content>
  </div>
</div>