<app-onboarding-body>
  <ng-container class="main-heading">Set your password</ng-container>
  <ng-container class="sub-heading">Password must include one number and one capital letter. 8 characters minimum.</ng-container>

  <ng-container class="body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <input id="password" class="form-control" name="password" type="password" placeholder="Password" ngModel #password="ngModel"
          required [ngClass]="{
          'is-valid': password?.touched && password?.valid,
          'is-invalid': password?.touched && password?.invalid
        }" minlength="8" pattern="^(?=.*\d)(?=.*[A-Z])(?!.*\s).{6,12}$">
      </div>






      <div class="row r " *ngIf="password.invalid && (password.dirty ||f.submitted)">
        <div class="col">
          <small *ngIf="password.errors.required">
            password field is required
          </small>
          <small *ngIf="password.errors.minlength">
            password should 8 characters
          </small>
          <small *ngIf="!password.errors.minlength &&password.errors.pattern">
            password atleast one capital letter and number
          </small>

        </div>
      </div>











      <div class="form-group">
        <input id="confirmPassword" class="form-control" [ngClass]="{
            'is-valid': confirmPassword?.touched && confirmPassword?.valid,
            'is-invalid': confirmPassword?.touched && confirmPassword?.invalid
      }" name="confirmPassword" type="password" placeholder="Confirm Password" ngModel #confirmPassword="ngModel" required
          appCompare="password">
      </div>


      <div class="row r" *ngIf="confirmPassword.invalid && (confirmPassword.dirty ||f.submitted)">
        <div class="col">
          <small *ngIf="confirmPassword.errors['required']">
            password confirm is required
          </small>
          <small *ngIf="!confirmPassword.errors['required'] && confirmPassword.errors['compare']">
            password does not match
          </small>


        </div>
      </div>


      <button class="btn btn-block" [ngClass]="{
                'btn-disbled': f.invalid,
                'btn-primary': f.valid
              }" type="submit">Next</button>
    </form>
  </ng-container>
</app-onboarding-body>