<app-onboarding-body>
  <ng-container class="main-heading">Set your password</ng-container>
  <ng-container class="sub-heading">Password must include one number and one capital letter. 8 characters minimum.</ng-container>

  <ng-container class="body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <input id="password" class="form-control" [ngClass]="{
              'is-valid': password?.touched && password?.valid && !errMsg,
              'is-invalid': password?.touched && password?.invalid || errMsg
            }" name="password" type="password" placeholder="Password" ngModel #password="ngModel" required minlength="8">
      </div>
      <div class="form-group">
        <input id="confirmPassword" class="form-control" [ngClass]="{
              'is-valid': confirmPassword?.touched && confirmPassword?.valid && !errMsg,
              'is-invalid': confirmPassword?.touched && confirmPassword?.invalid || errMsg
        }" name="confirmPassword" type="password" placeholder="Confirm Password" ngModel #confirmPassword="ngModel" required
          minlength="8">
      </div>
      <button class="btn btn-block" [ngClass]="{
              'btn-disbled': f.invalid,
              'btn-primary': f.valid
            }" type="submit" [disabled]="f.invalid">Next</button>
    </form>
  </ng-container>
</app-onboarding-body>