<app-onboarding-body>
  <ng-container class="main-heading">Welcome</ng-container>
  <ng-container class="sub-heading">Sign up by entering your email address below</ng-container>

  <ng-container class="body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <div class="form-group">
        <input id="email" class="form-control" [ngClass]="{
          'is-valid': f.touched && f.valid && !errMsg,
          'is-invalid': f.touched && f.invalid || errMsg
        }" name="email" type="email" email placeholder="Email" (keydown.backspace)="handleBackspace()" ngModel required
        />
        <div class="row" [ngClass]="{
          'invalid-feedback': f.touched && f.invalid || errMsg,
          'valid-feedback': f.touched && f.valid && !errMsg
        }" *ngIf="(f.touched && f.invalid) || !!errMsg">
          <div class="col">
            <small *ngIf="f.controls.email?.errors?.required">
              Please enter your email.
            </small>
            <small *ngIf="f.controls.email?.errors?.email">
              Invalid email
            </small>
            <small *ngIf="f.touched && f.valid && errMsg">
              {{ errMsg }}
            </small>
          </div>
        </div>
      </div>
      <button class="btn btn-block" [ngClass]="{
        
        'btn-primary': f.valid
      }" type="submit">Sign up</button>
    </form>
  </ng-container>
</app-onboarding-body>