<app-onboarding-body>
  <ng-container class="main-heading">Hi, what is your name?</ng-container>
  <ng-container class="body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <input type="text" class="form-control" #firstName="ngModel" [ngClass]="{
          'is-valid': f.controls.first_name?.touched && f.controls.first_name?.valid,
          'is-invalid': f.controls.first_name?.touched && f.controls.first_name?.invalid
        }" placeholder="First name" name="first_name" ngModel required pattern="[a-zA-Z ]*">
      </div>

      <div class="row us" *ngIf="f.submitted && firstName.invalid">
        <div class="col">
          <small *ngIf="firstName.errors.required">
            Please enter your first name
          </small>
          <small *ngIf="firstName.errors.pattern">
            firstname should be alphabetic
          </small>
        </div>
      </div>




      <div class="form-group">
        <input type="text" class="form-control" #lastName="ngModel" [ngClass]="{
            'is-valid': f.controls.last_name?.touched && f.controls.first_name?.valid,
            'is-invalid': f.controls.last_name?.touched && f.controls.last_name?.invalid
          }" placeholder="Last name" name="last_name" ngModel required pattern="[a-zA-Z ]*">
      </div>


      <div class="row us" *ngIf="f.submitted && lastName.invalid">
        <div class="col">
          <small *ngIf="lastName.errors.required">
            Please enter your first name
          </small>
          <small *ngIf="lastName.errors.pattern">
            firstname should be alphabetic
          </small>
        </div>
      </div>


      <button class="btn btn-block" type="submit">Next</button>
    </form>
  </ng-container>
</app-onboarding-body>