<app-onboarding-body>
  <ng-container class="main-heading">Company Details</ng-container>
  <ng-container class="body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <input type="text" class="form-control" [ngClass]="{
              'is-valid': company_name?.touched && company_name?.valid,
              'is-invalid': company_name?.touched && company_name?.invalid
            }" placeholder="Company Name" name="company_name" #company_name="ngModel" ngModel required pattern="[a-zA-Z ]*">
      </div>


      <!--   validations      -->


      <div class="row vc" *ngIf="f.submitted && company_name.invalid">
        <div class="col">
          <small *ngIf="company_name.errors.required">
            company name is required
          </small>
          <small *ngIf="company_name.errors.pattern">
            company name should be alphabetic
          </small>
        </div>
      </div>






      <div class="form-group">
        <input type="text" class="form-control" [ngClass]="{
                'is-valid': company_phone?.touched && company_phone?.valid,
                'is-invalid': company_phone?.touched && company_phone?.invalid
              }" placeholder="Contact number" name="company_phone" #company_phone="ngModel" ngModel required pattern="^((\\+92-?)|0)?[0-9]{11}$">
      </div>

      <!--   validations      -->


      <div class="row vc" *ngIf="f.submitted && company_phone.invalid">
        <div class="col">
          <small *ngIf="company_phone.errors.required">
            contact number is required
          </small>
          <small *ngIf="company_phone.errors.pattern">
            contact number format is invalid
          </small>
        </div>
      </div>





      <button class="btn btn-block" type="submit">Next</button>
    </form>


  </ng-container>
</app-onboarding-body>